@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background_color_tableau: white;
    --bordures_interieurs: #dddddd;
    --bg_color: #2e2e2e;
    --text_color: rgb(236, 236, 236);
}

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {cursor: pointer;}

  
/* Header */
#header-nav {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(62deg, #4a6f28 0%, #5b8731 100%);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.4);
    z-index: 20;
    display: flex;
    align-items: center;
}


/* Container du logo à gauche */
#header-nav > #image-container {
    margin: 10px 30px;
}

    /* Logo à gauche*/
#header-nav #image-container> #menu-icon {
    height: 70px;
    width: 70px;
}

/* Container de tous les liens */
#header-nav #menu-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

            
    /* Container d'un lien */
#header-nav #menu-items > li {
    padding: 0 30px;
    display: flex;
    align-items: center;
}
    
        /* Boite lien */
#header-nav #menu-items > li > .link {
    box-sizing: border-box;
    }
  
            /* Lien */
#header-nav #menu-items > li > .link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
    transition: all 0.1s ease-in;
}
            /* Lien hover */
#header-nav .link a:hover {
    text-decoration: underline !important;
}



            





#bg-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }  

  #bg-container #gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
  }

  
  
  #bg-container img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  #noir {
    margin-top: -10px;
    height: 100px;
    width: 100%;
    background-color: black;
  }
  
  

#text-overlay {
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    color: white;
    
}

#text-overlay h1 {
    font-size: 60px;
    text-shadow: -4px 4px 0 rgb(255, 0, 43);

}

#text-overlay p {
    margin-top: 40px;
    font-size: 25px;
    text-shadow: -2px 2px 3px rgb(0, 0, 0);

}

#rules {
    padding: 200px 8% 100px 8%;
    background-color: var(--bg_color);
    color: var(--text_color);
}

#rules h1 {
    padding-bottom: 40px;
}


#rules p {
    font-size: 1.2em;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 2% 0 5% 0;
}

.box ul {
    margin-left: 50px;
}

.box img {
    width: 40%;
    object-fit: contain;
}

.box2n img {
    padding-left: 50px;
}

.box2n1 img {
    padding-right: 50px;
}





#noir2 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    width: 100%;
    height: 100px;
}





#download {
    padding: 0 8% 0 8%;
    background-color: var(--bg_color);
    color: var(--text_color);
    
}

#download p {
    margin: 2% 0;
}

#download #center_github_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#download img {
    display: inline-block;
    width: 6%;
    object-fit: contain;
}

#download_text {
    text-align: center;
    margin-top: 20px;
}

#download #download_text a {
    font-size: 1.5em;
    padding: 4px 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}


#about {
    padding: 100px 8% 150px 8%;
    background-color: var(--bg_color);
    color: var(--text_color);
}

#about p {
    padding-top: 2%;
}

#about a {
    text-decoration: none;
    color: white;
}

#about a:hover {
    text-decoration: underline;
}